


/*formatting nav */

.navbar {
    position: fixed;
    min-height: 50px;
    width: 100%;
    top: 0px;
}

nav.navbar.navbar-inverse {
  z-index: 10;
}

/*formatting logo */


#logo {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  max-height: 300px;
}

 @media only screen and (max-width : 400px) { 
    #logo {
      max-width: 250px;
      max-height: 250px;
    }
  }

#tsb {
  width: 100%;
}

/*formatting sign up */

.confirm {
  display: none;
}

.showconfirm {
  display: inline-block;
  margin-top: 50px;
  font-size: 1.5em;
  font-family: Open Sans Condensed;
  color: black;
}

#removespace {
  display: none;
}

input#mce-EMAIL.email {
  width: 300px;
  height: 50px;
  font-size: 1.5em;
  font-family: Open Sans Condensed;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
/*  border-bottom: 10px;*/

}

input#mce-EMAIL.email:focus {
  outline: 0;
}

input::-webkit-input-placeholder {
  font-size: 1em;
}


div#mc_embed_signup {
  max-width: 300px;
  margin: auto;
}

#mc_embed_signup {
  margin-top: 50px;
}

div.mc-field-group {
  width: 300px;
  margin: auto;
}

#hiddenreg {
  display: none;
}

/* #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
}
*/


div.clear {
  margin-top: 30px;
  text-align: center;
}

div.clear:focus {
  outline: 0;
}

input#mc-embedded-subscribe.button:focus {
  outline: 0;
}

input#mc-embedded-subscribe.button {
  font-size: 1.8em;
  font-style: bold;
  width: 140px;
  height: 50px;
  color: white;
  background: black;
  border: none;
  font-family: Open Sans Condensed;
  text-transform: uppercase;
}

/*formatting about*/

.about{
	text-align: center;
  margin-top: 50px;
}

.about p {
  color: white;
	font-size: 4em;
	font-family: Open Sans Condensed;
}

 @media only screen and (max-width : 1000px) and (min-width : 551px) { 
    .about p {
      font-size: 3em;
      margin-top: 30px;
    }
  }

 @media only screen and (max-width : 550px) { 
    .about p {
      font-size: 2.5em;
      margin-top: 20px;
    }
  }



/*formatting gallery*/

/*images*/

.center img {
  max-width: 98%;
  margin: auto;
}

div.slick-slide.slick-cloned:focus {
  outline: 0;
}

div.slick-slide.slick-cloned.slick-active:focus {
  outline: 0;
}

div.slick-slide.slick-current.slick-active.slick-center:focus {
  outline: 0;
}

div.slick-slide.slick-active:focus {
  outline: 0;
}

div.slick-slide:focus {
  outline: 0;
}

/*button*/

.slick-prev:before {
  content: "<";
}

.slick-prev:before, .slick-next:before {
  color: black;
/*  font-size: 30px;*/
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slick-next:before {
  content: ">";
}

/*formatting menu*/

.faded {
  max-width: 450px;
  margin: auto;
}

.faded img{
  margin: auto;
  max-height: 500px;
}

div.faded.slick-initialized.slick-slider {
  height: 440px;
}

/*
@media only screen and (max-width : 700px) and (min-width: 401px) { 
    div.faded.slick-initialized.slick-slider {
      height: 400px;
    }*/

@media only screen and (max-width : 400px) { 
    div.faded.slick-initialized.slick-slider {
      height: 300px;
    }

  .faded img{
  margin: auto;
  max-height: 300px;
    }

  .faded {
  max-width: 250px;
  margin: auto;
    }
  }

div.slick-list.draggable {
  height: 100%;
}

ul.slick-dots {
  display: none;
}

li#slick-slide10 {
  display: none;
}

li#slick-slide11 {
  display: none;
}

li#slick-slide12 {
  display: none;
}

div.slick-track {
  width: 400px;
  opacity: 0;
}




#social-media {
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#social-media a {
	height: 100px;
	margin-left: 20px;
	margin-right: 20px;

}


/*formatting for all sections */

.clearfix:after{
	content: " ";
	display: table;
	clear:both;
}

.toptitle {
  font-family: Open Sans Condensed;
  font-size: 4em;
  margin-bottom: 60px;
}




h1 {
  font-size: 5rem;
  color: #34495E;
}

/* Sections */

section {
  width: 100%;
  padding: 50px;
  text-align: center;
}


section#one {
	background: white;
  /*height: 100vh;*/
  height: 700px;
  z-index: 1;
}


section#two {
  background-image: url("../img/background.jpg");
   /*height: 100vh;*/
   height: 700px;
   z-index: 2;
}

section#three {
  background: white;
/*   height: 100vh;*/
height: 800px;
   z-index: 3;
}

section#four {
   background: #ecf0f1;
    /*height: 100vh;*/
    height: 800px;
    z-index: 4;
}




.sections section:first-child {
  margin-top: 60px;
}

/*section.active {}*/

footer {
  height: 70px;
  background: black;
}
